:root {
    color-scheme: dark;
    --main-background: #121212;
    --second-color: #2e2e2e;
    --button-color: #4CAF50;
    --text-btn-shadow: #0000005c;
    --main-border-color: #7b7b7b42;
    --main-box-shadow: #000000b8;
    --main-text-color: #e3e3e3;
    --second-text-color: #d6d6d6;
    --window-color: #222;
    --focus-border-color: #4CAF50;
    --table-border-color: #444;
    --header-text-color: #fff;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--main-background);
    color: var(--main-text-color);
    font-size: 14px;
    font-weight: 400;
}

main {
    margin-bottom: 40px;
}

h2 {
    margin: 4px 0 15px 0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: var(--second-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header button,
#logoutButton {
    margin-right: 20px;
}

.title {
    color: var(--header-text-color);
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin: 0 20px 0 20px;
    
}

.main-block {
    padding: 20px 0 0 20px;
    overflow-x: auto;
}

.headerbuttons {
    margin: 90px 0 0 20px;
}

.right-block {
    width: 25%;
    padding: 20px;
    border-left: 1px solid var(--table-border-color);
}

table {
    overflow-x: auto;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid var(--table-border-color);
    width: auto;
}

button,
#logoutButton {
    background-color: var(--button-color);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    border-radius: 0.15rem;
    text-shadow: 0 0 5px var(--text-btn-shadow);
}

button:hover,
#logoutButton:hover {
    background-color:
        #3e8e41;
}

.navigation {
    display: flex;
}

.prev-page {
    margin-right: 5px;
}

.prev-page span,
.next-page span {
    display: contents;
}

.null-page {
    background-color: var(--second-color);
    color: var(--main-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 0 15px 0 15px;
    margin: 0 10px 0 15px;
    font-weight: 500;
}

.prev-page,
.next-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-color);
    font-size: 1em;
    color: var(--main-text-color);
    height: 40px;
    width: 40px;
    border-radius: 4px;
}

.prev-page .ionicon,
.null-page .ionicon,
.next-page .ionicon {
    width: 30px;
    color: var(--main-text-color);
}

/*-------------- FOR MODAL WINDOW
*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    border-radius: 0.35rem;
}

.modal-content {
    background-color: var(--window-color);
    padding: 20px;
    border: 1px solid var(--main-border-color);
    max-width: 400px;
    border-radius: 0.35rem;
    box-shadow: 0 0 15px var(--main-box-shadow);
    margin: 20px auto;
}

.close {
    color: var(--main-text-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.userFormCreateInput {
    display: flex;
    flex-direction: column;
    padding: 2px 0 0 0;
}

.userFormCreateInput label {
    margin-bottom: 5px;
}

.modal-content.deleteUser {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input,
select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--main-border-color);
    border-radius: 4px;
    background-color: var(--second-color);
    color: #e0e0e0;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    transition: 0.17s;
}

#searchUserModal select {
    padding: 9px;
    margin-right: 5px;
}

input:focus,
select:focus {
    border-color: var(--focus-border-color);
    outline: none;
    background-color: var(--second-color);
}

/*-------------- FOOTER
*/

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background: var(--second-color);
    color: var(--second-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.animiku {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(141deg, #008dc9, #00fff3c0);
    font-weight: 800;
}

footer a {
    color: var(--button-color);
    font-weight: 600;
    text-decoration: none;
}

.footer-first {
    margin-right: 5px;
}


@media (max-width: 500px) {
    footer {
        flex-direction: column;
        position: relative;
    }
}

input:disabled {
    background-color: var(--second-color);
    color: #606060;
}